body{
    margin: 0px;
    padding: 0px;
    background-color: yellow;
}
/*This is for all about for menubar*/
.menubar {
box-shadow: 10px 10px 10px gray;
position:;
width: 100%;
margin-top:;
background-color:aqua ;
}
.contain {

}
.frontimg {
    align-items: center;
    margin: 0% 25% 0% 25%;
    width: 400px;
    height: 200px;
}